<div>
    <h2>Crear un nuevo firmante</h2>
    <form method="POST" action="insertarFirmanteEnBDD">
        <label for="Nombre">Nombre:</label>
        <input type="text" name="Nombre" />
        <br />
        <label for="Firma">Firma:</label>
        <input type="text" name="Firma" />
        <br />
        <label for="Edad">Edad:</label>
        <input type="number" max="120" min="1" name="Edad" />
        <br />
        <label for="Documento">Documento: </label>
        <select id="idDocumento">
            <option vlaue="doc1">doc1</option>
            <option vlaue="doc2">doc2</option>
            <option vlaue="doc3">doc3</option>
        </select>
        <br />
        <input type="submit" value="Enviar" />
    </form>
</div>

