<label for='Nombre>Nombre:</label>
<input type="text" name="Nombre" />
<br />
<label for="Firma">Firma:</label>
<input type="text" name="Firma" />
<br />
<label for="Edad">Edad:</label>
<input type="number" max="120" min="18" name="Edad" />
