
<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div class="cuerpo">
        <div>
            <a href="Home/AdministrarBaseDeDatos">Realizar operaciones con la BDD</a>
            <a href="Home/RealizarConsultas">Realizar consultas</a>
        </div>
    </div>
</body>
</html>