
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="cuerpo">
        <div>
            <a href="administrarUsuarios">Realizar operaciones con la BDD</a>
            <a href="realizarConsultas">Realizar consultas</a>
        </div>
    </div>
</body>
</html>